set bell-style none

set editing-mode vi
set show-mode-in-prompt on

$if mode=vi
  set keymap vi-command
  j:history-search-forward
  k:history-search-backward

  set keymap vi-insert
  "\C-l": clear-screen
$endif
